<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
   
        body {
            background-color: #82dc7d; /* Arkaplan rengi gri tonu */
        }
    </style>
</head>
<body>
    <h1>Veri Girişi</h1>
    
    <form action="/veri_gonder" method="post">
        <label for="veri1">İsim:</label>
        <input type="text" id="veri1" name="veri1" required><br>

        <label for="veri2">Soyisim:</label>
        <input type="text" id="veri2" name="veri2" required><br>

        <label for="veri3">Not 1:</label>
        <input type="text" id="veri3" name="veri3" required><br>

        <label for="veri4">Not 2:</label>
        <input type="text" id="veri4" name="veri4" required><br>

        <label for="veri5">Not 3 :</label>
        <input type="text" id="veri5" name="veri5" required><br>

        <input type="submit" value="Gönder">
    </form>
    


    <a href="/">A Sayfasına Git</a>
    
</body>
</html>